<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Guardian Wallet</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access required to connect with dApp and scan the QR code</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Bolder.otf</string>
		<string>Light.otf</string>
		<string>Medium.otf</string>
		<string>Regular.otf</string>
		<string>HelveticaNeueLTPro-Ex.ttf</string>
		<string>HelveticaNeueLTPro-HvEx.ttf</string>
		<string>HelveticaNeueLTPro-LtEx.ttf</string>
		<string>HelveticaNeueLTPro-MdEx.ttf</string>
		<string>fonts/AntDesign.ttf</string>
		<string>fonts/Entypo.ttf</string>
		<string>fonts/EvilIcons.ttf</string>
		<string>fonts/Feather.ttf</string>
		<string>fonts/FontAwesome.ttf</string>
		<string>fonts/Fontisto.ttf</string>
		<string>fonts/Foundation.ttf</string>
		<string>fonts/Ionicons.ttf</string>
		<string>fonts/MaterialCommunityIcons.ttf</string>
		<string>fonts/MaterialIcons.ttf</string>
		<string>fonts/Octicons.ttf</string>
		<string>fonts/SimpleLineIcons.ttf</string>
		<string>fonts/Zocial.ttf</string>
		<string></string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSUbiquitousContainers</key>
    <dict>
        <key>iCloud.com.guardianwallet</key>
        <dict>
            <key>NSUbiquitousContainerIsDocumentScopePublic</key>
            <true/>
            <key>NSUbiquitousContainerName</key>
            <string>Guardian Wallet</string>
        </dict>
    </dict>

</dict>
</plist>
